.alert {
  display: flex;
  padding: 10px;
  background-color: rgb(62, 163, 62);
  margin-bottom: 15px;
  position: absolute;
  top: 50px;
  z-index: 10;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  animation: bounce-in 3000ms forwards;
  background: #2ecc71;
  flex-grow: 1;

  & span {
    flex-grow: 1;
    position: absolute;
  }
  & p {
    flex-grow: 5;
    text-align: center;
  }
}

@keyframes bounce-in {
  0% {
    top: -100px;
  }
  8% {
    top: 50px;
  }
  10% {
    top: 10px;
  }
  13% {
    top: 40px;
  }
  17% {
    top: 25px;
  }
  95% {
    top: 25px;
  }
  100% {
    top: -100px;
  }
}
