.date-select__wrapper {
  background-color: $mainColor;
  position: relative;
  position: absolute;
  z-index: 100000;
  min-width: 16vw;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  padding: 0 10px;
}

.date-select__month-list,
.date-select__year-list {
  position: relative;
  height: 40vh;
  overflow: auto;
  background-color: white;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  padding-top: 50px;
  background-color: $mainColor;
  padding: 0 4px;
  padding: 45px 0;
}

.date-select__year-list li {
  padding: 10px 0;
  cursor: pointer;
  &:hover {
    transform: scale(1.25);
    transition: transform 300ms ease-in-out;
  }
}
.date-select__month-list li {
  padding: 10px 0;
  cursor: pointer;
  &:hover {
    transform: scale(1.25);
    transition: transform 300ms ease-in-out;
  }
}

.date-select__year-list::-webkit-scrollbar,
.date-select__month-list::-webkit-scrollbar {
  display: none;
}

.date-select__wrapper::after {
  position: absolute;
  content: "";
  // width: 100%;
  left: 0;
  right: 0;
  height: 20%;
  background: linear-gradient(to top, rgba(107, 107, 199, 0.4), $mainColor);
  top: 0;
  z-index: 10000;
}

.date-select__wrapper::before {
  position: absolute;
  content: "";
  // width: 100%;
  left: 0;
  right: 0;
  height: 20%;
  background: linear-gradient(to bottom, rgba(107, 107, 199, 0.4), $mainColor);
  bottom: 0;
  z-index: 10000;
}
