//general

.cell {
  flex-basis: calc(100% / 7);
  position: relative;
  &--day {
    cursor: pointer;
  }
  &--blank {
    color: transparent;
  }
  &--weekend {
    .cell__content {
      .cell__date {
        color: red;
      }
    }
  }
  &__hover-messages {
    display: none;
  }
  &:hover {
    .cell__hover-messages {
      display: block;
      z-index: 100;
      padding: 3px 10px;
      position: absolute;
      top: -20px;
      background: rgb(248, 244, 244);
      font-size: 0.9rem;
      white-space: nowrap;
    }
  }
}

//month-view only

.month--month-view.month--dark .cell--day:hover {
  background: $darkThemeColorDark;
}

.month--month-view {
  .cell {
    font-size: 150%;
    outline: 1px solid rgba(0, 0, 0, 0.3);
    &__content {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
    }
    &__date {
      font-size: 1rem;
      margin-top: 5px;
      margin-left: 5px;
    }
    &__event-titles {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      text-align: center;
      /* important because there needs to be a space for the item to drop into */
      flex-grow: 1;
      border-radius: 6px;
      width: 100%;
      margin: 0 auto 5px auto;
    }
    &__event-title {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      background: $secondaryColor;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 20px;
    }
    &__holiday-names {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      text-align: center;
    }
    &__holiday-name {
      border-radius: 4px;
      background: rgb(224, 224, 248);
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
    &--with-event {
      position: relative;
    }
  }
  .hideRow {
    display: none;
  }
  .hideRow {
    & ~ .cell {
      display: none;
    }
  }
}

//year-view only

.month--year-view {
  .cell {
    flex-basis: calc(95% / 7);

    margin: 1px;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      /* important for date to be in center */
      height: 100%;
    }
  }
  &.month--light {
    .cell {
      &--with-event {
        background: $secondaryColor;
        transition: $themeTransition;
      }
    }
  }
}

//light theme only

.month--light {
  .cell {
    &:hover {
      background: #eee;
    }
    &--with-event {
      position: relative;
    }

    &--today {
      background: $mainColorLight;
      // transition: $themeTransition;
      &:hover {
        background: $mainColor;
      }
    }
  }
}

//dark theme only

.month--dark {
  .cell {
    background-color: #1b2938;
    transition: $themeTransition;

    &--today {
      background: $mainColorDark;
      transition: $themeTransition;
    }
    .cell__event-title {
      background-color: $mainColor;
    }

    &__date {
      color: #ddd;
      transition: all 400ms ease-out;
    }

    &--today {
      .cell__date {
        transition: $themeTransition;
      }
    }
    //repeated from above as being overridden
    &--with-event {
      position: relative;
    }
  }
}

.month--year-view.month--dark {
  .cell {
    &--with-event {
      // background: rgb(21, 100, 21);
      background: rgb(80, 5, 80);
    }
    &--with-holiday {
      background: rgb(43, 109, 43);
      transition: $themeTransition;
    }
  }
}

.month--month-view.month--dark {
  .cell__event-title {
    // background: #dfd8c3;
    background: rgb(100, 16, 100);

    color: white;
  }
}

.month--year-view.month--light {
  .cell--with-holiday {
    background: rgb(170, 255, 170);
    transition: $themeTransition;
  }
}
