.day-events {
  padding: 20px;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__event-title,
  &__event-time {
    padding-top: 5px;
  }
  & h2 {
    font-family: $josefin;
  }
  &__event {
    font-weight: bold;
    background: $mainColor;
    border-radius: 4px;
    font-size: 1.5rem;
    display: flex;
    margin: 10px 0;
    cursor: pointer;
    & span {
      margin: 0 10px;
    }
  }
  &__button {
    @include button($mainColor, 1.5rem);
    color: white;
    &:hover,
    &:focus {
      background: $mainColorDark;
    }
  }
}

.day-events__close-button {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 4rem;
}
