.event-info {
  position: relative;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  &__buttons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
  }
  &__button {
    @include button($mainColor, 1.3rem);
    color: white;
    &:hover,
    &:focus {
      background: $mainColorDark;
    }
  }
  &__event {
    background: $mainColor;
    border-radius: 6px;
    padding: 5px 30px;
    min-width: 60%;
  }
  &__content {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

.event-info__close-button {
  position: absolute;
  top: -110px;
  right: 3px;
  font-size: 4rem;
}

.modal--dark .event-info {
  color: #dfd8c3;
}
