.month-header {
  display: flex;
  padding: 3px 0;
  justify-content: space-around;
  position: relative;
  &__links--right {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-right: 5px;
  }
  &__settings-button {
    font-size: 1.7rem;
    cursor: pointer;
  }
  &__arrow--left {
    left: 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &__date-info {
    min-width: 55%;
    display: flex;
    justify-content: space-between;
  }

  &__arrow--right {
    right: 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &__whole-year-button {
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    &:hover,
    &:focus {
      color: white;
    }
  }
}

.month--dark .month-header {
  background: #111;
  transition: $themeTransition;
}

.month--month-view.month--dark .month-header {
  background: $mainColorDark;
  transition: $themeTransition;
}

.month--dark .month-header__month-name {
  color: #eee;
  transition: $themeTransition;
}

.month--light .month-header {
  background: #eee;
  transition: $themeTransition;
}

//does month-content need the month-view flag? why not just have it on month?
.month__content--month-view .month-header {
  background: $mainColor;
  &__month-name {
    font-size: 1.5rem;
    margin: 0 10px;
  }
  .year-name,
  .month-name {
    font-size: 1.5rem;
    margin: 0 10px;
  }
  .month__cells {
    background: white;
  }
  .month__weekdays {
    background: #eee;
  }
}

.month__content--year-view .month-header {
  &__month-name {
    font-size: 1.1rem;
  }
}

.month__content--month-view .month-header__content {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: space-between;
}
