.radio-button {
  &__wrapper {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper > * {
    margin: 10px 0;
  }
  &__wrapper span {
    font-size: 1.5rem;
  }
  &__button {
    margin-left: 10px;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    &--checked {
      background: rgb(107, 107, 199);
    }
    &--unchecked:hover {
      background: rgb(178, 178, 235);
    }
  }
}

.modal--dark .radio-button {
  &__button {
    &--checked {
      background: white;
    }
    &--unchecked:hover {
      background: #eee;
    }
  }
}
