.time-list {
  position: absolute;
  list-style: none;
  background: white;
  z-index: 1000;
  right: 100px;
  top: 31px;
  max-height: 40vh;
  width: 7vw;
  padding: 5px 0;
  border: 1px solid black;
  border-radius: 6px;
  & li {
    padding: 3px 0;
  }
}

.time-option {
  cursor: pointer;
  min-height: 20px;
}

.time-option:hover {
  background: $mainColor;
  color: white;
}
