.year-header {
  &__content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__title {
    flex-grow: 4;
    font-size: 1.5rem;
  }
  &__arrow {
    flex-grow: 1;
    font-size: 1.5rem;
    cursor: pointer;
  }
  flex-grow: 1;
  display: flex;
  position: relative;
  &--light {
    background: $mainColor;
    transition: all 400ms ease-out;
  }
  &--dark {
    background: $mainColorDark;
    transition: $themeTransition;
  }
  &__content {
    width: 20%;
  }
  &__links {
    &--left {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: 5px 0 0 10px;
      align-items: center;
    }
  }
}
