/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,
#root {
  height: 100vh;
}

.app {
  display: flex;
  height: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
}

.button {
  /* background: rgb(255, 255, 98); */
  background: rgb(166, 236, 238);

  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.button:hover {
  /* background: rgb(245, 245, 90); */
  background: rgb(133, 200, 202);
}

/* CALENDAR */

.calendar {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* YEAR */

.year-view {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 9;
}

.year-header {
  flex-grow: 1;
  display: flex;
  position: relative;
  /* background: rgb(255, 255, 98); */
  background: rgb(166, 236, 238);
}

.year-header__content,
.month-header__content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.year-header__content {
  width: 20%;
}

.year-header__links {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
}

.year-header__links button {
  margin: 0 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.year-header__content .year-header__title {
  flex-grow: 4;
  font-size: 1.5rem;
}

.year-header__content .year-header__arrow {
  flex-grow: 1;
  font-size: 1.5rem;
  cursor: pointer;
}

/* MONTH */

.month--year-view {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.month-header {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.month--year-view {
  flex-basis: calc(100% / 4);
  display: flex;
}

.month--year-view * {
  cursor: pointer;
}

.month--year-view:hover {
  background: rgb(252, 252, 148);
}

.month--year-view .month-name {
  font-size: 1.3rem;
}

/* .month--month-view .year-header__arrow {
  font-size: 3.5rem;
  cursor: pointer;
  position: absolute;
  width: 10%;
  bottom: 0;
  top: 0;
  height: 100%;
} */

.month-header__arrow--left {
  left: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.month-header__date-info {
  min-width: 55%;
  display: flex;
  justify-content: space-between;
}

.month-header__arrow--right {
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.month-header__whole-year-button {
  font-size: 1.2rem;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.month--month-view .month-name {
  font-size: 1.5rem;
  margin: 0 10px;
}

.month--month-view .year-name {
  font-size: 1.5rem;
  margin: 0 10px;
}

.month--month-view {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(245, 246, 248);
}

.month--month-view .month__cells {
  background: white;
}

.month--month-view .month__weekdays {
  background: #eee;
}

/* .month__content--month-view {
  border: 2px solid black;
} */

.month__content {
  display: flex;
  flex-direction: column;
}

.month__content--month-view {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.month__weekdays {
  display: flex;
  width: 100%;
}

.weekend .cell__date {
  color: red;
}

.month__content--month-view .cell {
  font-size: 150%;
}

/* .month__content--month-view .month__weekdays__weekday {
  font-size: 150%;
} */

.month__weekdays__weekday {
  flex-basis: calc(100% / 7);
  font-weight: bold;
  padding: 10px 0;
}

.month__cells {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* .month__content--month-view .month__cells {
  padding: 0 60px;
} */

/* .month__back-button {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 4rem;
  cursor: pointer;
} */

.month__content--month-view .month-header {
  /* background: rgb(255, 255, 98); */
  background: rgb(166, 236, 238);
}

.month__content--month-view .month-header__content {
  /* min-width: 60%; */
  position: relative;
  /* padding: 10px; */
  width: 20%;
}

/* DAY */

.cell {
  flex-basis: calc(100% / 7);
  position: relative;
}

.cell--blank {
  color: transparent;
}

.cell--day {
  cursor: pointer;
}

.month--year-view .cell--with-event {
  position: relative;
  background: rgb(255, 207, 207);
}

.cell__hover-messages {
  display: none;
}

.cell:hover .cell__hover-messages {
  display: block;
  z-index: 100;
  padding: 3px 10px;
  /* min-width: 200px; */
  position: absolute;
  top: -20px;
  background: rgb(248, 244, 244);
  font-size: 0.9rem;
  white-space: nowrap;
}

.month--month-view .cell {
  outline: 1px solid rgba(0, 0, 0, 0.3);
  /* margin-left: -1px;
  margin-bottom: -1px; */
}

.month--month-view .cell--day:hover {
  background: rgb(252, 252, 148);
}

.month--year-view .cell__content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* important for date to be in center */
  height: 100%;
}

.month--month-view .cell__content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.month--month-view .cell__date {
  /* text-align: center; */
  /* flex-grow: 1; */
  font-size: 1rem;
  margin-top: 5px;
  margin-left: 5px;
}

.month--month-view .cell__event-titles {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* justify-content: space-around; */
  font-size: 0.9rem;
  text-align: center;
  /* this is important beacause there needs to be a space for the item to drop into*/
  flex-grow: 1;
}

.month--month-view .cell__event-title {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: rgb(255, 207, 207);
}

.month--month-view .cell__holiday-names {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* justify-content: space-around; */
  font-size: 0.9rem;
  text-align: center;
  /* flex-grow: 5; */
  /* border: 1px solid blue; */
}

.month--month-view .cell__holiday-name {
  border-radius: 4px;
  background: rgb(224, 224, 248);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.month--year-view .cell--with-holiday {
  /* background: rgb(224, 224, 248); */
  background: rgb(170, 255, 170);
}

.cell--today {
  /* background: rgb(255, 255, 98); */
  background: rgb(166, 236, 238);
}

.month--month-view .hideRow {
  display: none;
}

.month--month-view .hideRow ~ .cell {
  display: none;
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: fade-in 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal__content {
  /* position: absolute;
  top: 10%; */
  width: 35%;
  min-height: 50%;
  max-height: 80%;
  /* transform: translate(50%); */
  overflow: auto;
  background: white;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.modal-header {
  outline: 1px solid rgba(0, 0, 0, 0.3);
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  background: rgb(166, 236, 238);
}

.modal-header__content {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}

.back-button--modal {
  position: absolute;
  top: 30px;
  left: 15px;
  font-size: 4.5rem;
  cursor: pointer;
}

/* EVENT INFO */

.event-info {
  position: relative;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
}

.event-info__buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
}

.event-info__event {
  background: rgb(207, 226, 233);
  border-radius: 6px;
  padding: 5px 30px;
}

.event-info__content {
  flex-grow: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* FORM */

.event-form {
  position: relative;
  flex: 5;
  display: flex;
  flex-direction: column;
  /* padding-top: 20px; */
}

.event-form__form {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
}

.event-form__form-fields {
  display: flex;
  flex-direction: column;
}

.event-form__form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-form__form-field input {
  font-size: 1.3rem;
  padding: 0 5px;
}

.event-form__time-picker {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.event-form__time-input {
  /* margin-bottom: 30px; */
  font-size: 1.1rem;
  flex-grow: 1;
  padding: 2px;
}

.event-form__time-period-input {
  font-size: 1.1rem;
  padding: 2px;
}

.event-form__char-limit-message {
  font-size: 1rem;
  padding-top: 10px;
  color: red;
  visibility: hidden;
}

.event-form__char-limit-message--show {
  font-size: 1rem;
  padding-top: 10px;
  color: red;
  visibility: visible;
}

/* DAY EVENTS */

.day-events {
  padding: 20px;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.day-events__event {
  /* background: rgb(207, 226, 233); */
  background: #eee;
  border-radius: 4px;
  font-size: 1.5rem;
  display: flex;
  margin: 10px 0;
  cursor: pointer;
}

.day-events__event span {
  margin: 0 10px;
  padding: 10px;
}

.day-events__event .day-events__event-title {
  font-weight: bold;
}

/* MY EVENTS */

.my-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.my-events-nav {
  width: 100%;
}

.my-events-nav-content {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.my-events-year-name {
  font-size: 1.8rem;
}

.my-events-arrow-left,
.my-events-arrow-right {
  font-size: 3rem;
}

.my-events h2,
.my-events-nav {
  margin: 10px 0;
}

.my-events-event {
  background: rgb(207, 226, 233);
  border-radius: 6px;
  font-size: 1.5rem;
  display: flex;
  margin: 10px 0;
  cursor: pointer;
}

.my-events-event span {
  margin: 0 10px;
  padding: 10px;
}

.my-events-event .event-title {
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .month--year-view {
    flex-basis: calc(100% / 2);
  }
  .year-view {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 650px) {
  .month--year-view {
    flex-basis: calc(100%);
  }
  .month {
    height: 70vh;
  }
}

.home-wrapper {
  background: rgb(107, 107, 199);
  height: 100vh;
  width: 100%;
}

.home-header {
  text-align: center;
}

.home-content {
  padding: 50px;
  text-align: center;
  margin-top: 30px;
}

.home-header h1 {
  color: white;
  font-size: 4rem;
  padding: 20px;
}

.home-header h2 {
  color: white;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(166, 236, 238);

  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 40%;
  left: 45%;
}
