* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $josefin;
}

body,
#root {
  height: 100vh;
  font-family: $josefin;
}

.app {
  display: flex;
  height: 100vh;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
