.event-form {
  position: relative;
  flex: 5;
  display: flex;
  flex-direction: column;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
  }
  &__form-fields {
    display: flex;
    flex-direction: column;
  }
  &__form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & input {
      font-size: 1.3rem;
      padding: 0 5px;
    }
  }
  &__char-limit-message {
    font-size: 1rem;
    padding-top: 10px;
    color: red;
    visibility: hidden;
    &--show {
      font-size: 1rem;
      padding-top: 10px;
      color: red;
      visibility: visible;
    }
  }
  &__button {
    @include button($mainColor, 1.5rem);
    color: white;
    &:hover,
    &:focus {
      background: $mainColorDark;
    }
    margin-top: 20px;
  }
  &__icon-button {
    cursor: pointer;
    font-size: 1.6rem;
  }
  &__extra-inputs {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 50%;
    margin: 0 auto;
  }
  .event-form__clock {
    cursor: pointer;
    font-size: 1.6rem;
  }
}

.event-form__preview {
  font-family: $josefin;
  min-height: 55px;
  border-bottom: 5px solid $mainColor;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1.5rem;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  padding-top: 10px;
  & span {
    margin: 0 10px;
  }
}

.event-form {
  &__title-preview {
    padding-top: 5px;
  }
  &__time-preview {
    padding-top: 5px;
  }
}
