.loginRegister {
  width: 100%;
  background: white;
  &__header {
    padding: 10px;
    background: $mainColor;
    & h1 {
      color: white;
      margin-left: 10px;
    }
  }
  &__content {
    width: 40%;
    margin: 0 auto;
    min-height: 60%;
    margin-top: 60px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 6px;
    background: white;
    & h2 {
      text-align: center;
      margin-top: 50px;
      font-size: 2rem;
      padding: 10px 0;
    }
    & form {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 60%;
      align-items: center;
      margin: 0 auto;
      justify-content: space-around;
      padding: 10px 0;
      & input {
        padding: 5px 10px;
        width: 100%;
        margin: 5px 0;
        font-size: 1.2rem;
      }
    }
  }
  &__link-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    & p {
      margin-bottom: 5px;
    }
  }
  &__button {
    margin-top: 30px;
  }
}
