.loginRegister {
  width: 100%;
  background: white;
  &__header {
    padding: 10px;
    background: $mainColor;
    & h1 {
      color: white;
      margin-left: 10px;
    }
  }
  &__content {
    width: 40%;
    margin: 0 auto;
    min-height: 60%;
    margin-top: 60px;
    box-shadow: $boxShadow;
    padding: 20px;
    border-radius: 6px;
    background: white;
    & h2 {
      text-align: center;
      margin-top: 50px;
      font-size: 2rem;
      padding: 10px 0;
    }
    & form {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 60%;
      align-items: center;
      margin: 0 auto;
      justify-content: space-around;
      padding: 10px 0;
      & input {
        padding: 5px 10px;
        width: 100%;
        margin: 5px 0;
        font-size: 1.2rem;
        border: 3px solid $mainColor;
        border-radius: 5px;
        color: black;
        &.valid {
          background-color: lightgreen;
        }
        &.invalid {
          background-color: pink;
        }
        //html seems to have own styling for autofill (weird!)
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px lightgreen inset;
        }
      }
    }
  }
  &__link-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    & p {
      margin-bottom: 5px;
    }
  }
  &__button {
    @include button($mainColor, 1.5rem);
    margin-top: 30px;
    color: white;
    &:hover,
    &:focus {
      background: $mainColorDark;
    }
  }
}
