.modal-header {
  outline: 1px solid rgba(0, 0, 0, 0.3);
  flex: 0.5;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  background: $secondaryColor;
  &__content {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
  }
  //to stop it changing size when toggling between DayEvents and EventForm
  min-height: 60px;
}
