.settings {
  padding: 0 20px;
  &__radio-groups {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0 10px;
  }
  &__button {
    @include button($mainColor, 1.5rem);
    color: white;
    &:hover,
    &:focus {
      background: $mainColorDark;
    }
  }
}
