.year-header {
  &__content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    &.year-header__title {
      flex-grow: 4;
      font-size: 1.5rem;
    }
    &.year-header__arrow {
      flex-grow: 1;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  flex-grow: 1;
  display: flex;
  position: relative;
  &--light {
    background: $mainColor;
    transition: all 400ms ease-out;
  }
  &--dark {
    background: rgb(4, 92, 33);
    transition: all 400ms ease-out;
  }
  &__content {
    width: 20%;
  }
  &__links {
    &--left {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      button {
        margin: 3px 0 0 15px;
        font-size: 1.3rem;
        cursor: pointer;
      }
      img {
        width: 30px;
        cursor: pointer;
      }
    }
    &--right {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin-right: 5px;
      img {
        width: 40px;
        cursor: pointer;
      }
    }
  }
}
