//GENERAL
.cell {
  flex-basis: calc(100% / 7);
  position: relative;
  &--blank {
    color: transparent;
  }
  &--day {
    cursor: pointer;
  }
  &--weekend {
    .cell__content {
      .cell__date {
        color: red;
      }
    }
  }
  &__hover-messages {
    display: none;
  }
  &:hover {
    .cell__hover-messages {
      background: rgb(248, 244, 244);
      display: block;
      font-size: 0.9rem;
      padding: 3px 10px;
      position: absolute;
      top: -20px;
      white-space: nowrap;
      z-index: 100;
    }
  }
}

//BOTH VIEWS (LIGHT)
.calendar--light .month {
  .cell {
    &--with-event {
      position: relative;
    }
    &--today {
      background: $mainColorLight;
    }
  }
}

//BOTH VIEWS (DARK)
.calendar--dark .month {
  .cell {
    background-color: #1b2938;
    transition: $themeTransition;
    &--today {
      background: $mainColorDark;
      transition: $themeTransition;
    }
    &__date {
      color: #ddd;
      transition: $themeTransition;
    }
    &--weekend {
      .cell__date {
        color: red;
      }
    }
    &__event-title {
      background-color: $mainColor;
    }
  }
}

//MONTH-VIEW (LIGHT AND DARK)
.month--month-view {
  .cell {
    font-size: 150%;
    outline: 1px solid rgba(0, 0, 0, 0.3);
    &--with-event {
      position: relative;
    }
    &__content {
      bottom: 0;
      display: flex;
      flex-direction: column;
      left: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
    &__date {
      font-size: 1rem;
      margin-left: 5px;
      margin-top: 5px;
    }
    &__event-titles {
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-size: 0.9rem;
      margin: 0 auto 5px auto;
      text-align: center;
      white-space: nowrap;
      width: 100%;
    }
    &__holiday-names {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      text-align: center;
      white-space: nowrap;
    }
    &__holiday-name {
      background: rgb(224, 224, 248);
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      overflow: hidden;
    }
  }
  //hides bottom row in month-view (if all cells are empty)
  .hideRow {
    display: none;
    & ~ .cell {
      display: none;
    }
  }
}

//MONTH-VIEW (LIGHT)
.calendar--light .month--month-view {
  .cell {
    &--day:hover {
      background: #eee;
    }
  }
}

//MONTH-VIEW (DARK)
.calendar--dark .month--month-view {
  .cell {
    &--day:hover {
      background: $darkThemeColorDark;
    }
    &--today:hover {
      background: $mainColor;
    }
    &__event-title {
      background: rgb(100, 22, 100);
      color: white;
    }
  }
}

//YEAR VIEW (LIGHT AND DARK)
.month--year-view {
  .cell {
    flex-basis: calc(100% / 7);
    //giving margin so cells don't look joined up in year view (when they have --with-event bg color)
    // margin: 1px;
    &__content {
      align-items: center;
      display: flex;
      ///important for date to be in center
      height: 100%;
      justify-content: center;
    }
  }
}

//YEAR VIEW (LIGHT)
.calendar--light .month--year-view {
  .cell {
    &--with-event {
      background: $secondaryColor;
      transition: $themeTransition;
      border: 1px solid white;
    }
    &--with-holiday {
      background: rgb(170, 255, 170);
      transition: $themeTransition;
      border: 1px solid white;
    }
  }
}

//YEAR VIEW (DARK)
.calendar--dark .month--year-view {
  .cell {
    &--with-event {
      background: rgb(100, 22, 100);
      border: 1px solid $darkThemeColor;
    }
    &--with-holiday {
      background: rgb(50, 82, 50);
      transition: $themeTransition;
      border: 1px solid $darkThemeColor;
    }
  }
}
