//GENERAL
.event-info {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  position: relative;
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 9;
    padding: 20px;
  }
  &__event {
    align-items: center;
    background: $mainColor;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    padding: 5px 10px;
    span {
      margin: 0 5px;
    }
  }
  &__event-title {
    font-weight: bold;
    font-size: 1.1rem;
  }
  &__buttons {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
  }
  &__button {
    @include button($mainColor, 1.3rem);
    color: white;
    width: 30%;
    &:hover,
    &:focus {
      background: $mainColorDark;
    }
  }
}

//DARK

.calendar--dark .modal .event-info {
  color: #dfd8c3;
}
