.header-links {
  display: flex;
  justify-content: space-around;
  width: 10%;
  &__my-account-button,
  &__my-events-button,
  &__settings-button,
  &__printer-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    position: relative;
  }
}

@media print {
  .header-links {
    display: none;
  }
}
