.home {
  align-items: center;
  background: $mainColor;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  &__content {
    display: flex;
    padding: 50px;
    text-align: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
  }
  &__header {
    text-align: center;
    height: 40%;
  }
  &__app-title {
    color: white;
    font-size: 4rem;
  }
  &__app-slogan {
    color: white;
    margin-top: 3rem;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
  }
  &__button {
    width: 8vw;
    @include button(white, 1.5rem);
    &:hover,
    &:focus {
      background: #ddd;
    }
  }
  &__link-container {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    width: 60%;
    & span {
      color: white;
      cursor: pointer;
      margin-bottom: 5px;
    }
  }
}
