//GENERAL
.modal-header {
  align-items: center;
  background: $secondaryColor;
  border-radius: 6px;
  display: flex;
  flex: 0.5;
  margin: 0 auto;
  //to stop it changing size when toggling between DayEvents and EventForm
  min-height: 60px;
  width: 80%;
  &__content {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
  }
  &__weekday {
    flex-grow: 1;
    font-weight: bold;
  }
  &__date-info {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }
}

//DARK
.calendar--dark .modal {
  .modal-header {
    background: rgb(224, 224, 248);
    transition: $themeTransition;
  }
}
