//GENERAL
.modal {
  align-items: center;
  animation: fade-in 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  &__content {
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-height: 70vh;
    //stop contents spilling out on vertical resize
    min-height: 60vh;
    min-width: 35%;
    overflow: auto;
    padding: 30px 0;
    position: relative;
    text-align: center;
  }
  &__close-button {
    cursor: pointer;
    font-size: 4rem;
    position: absolute;
    right: 5px;
    top: -10px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//DARK
.calendar--dark .modal {
  .modal__content {
    background: $mainColorDark;
    transition: $themeTransition;
  }
}
