.year-header {
  display: flex;
  position: relative;
  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    width: 20%;
  }
  &__year-title {
    flex-grow: 4;
    font-size: 2rem;
    color: white;
  }
  &__app-name {
    color: white;
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__links {
    &--left {
      display: flex;
      // outline: 2px solid red;
    }
  }
}

.year-header__arrow {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  cursor: pointer;
}

.year-header__arrow--left {
  border-right: 12px solid white;
}

.year-header__arrow--right {
  border-left: 12px solid white;
}

@media print {
  .year-header__arrow {
    display: none;
  }
}

//LIGHT
.calendar--light .year-header {
  background: $mainColor;
  transition: all 400ms ease-out;
}

//DARK
.calendar--dark .year-header {
  background: $mainColorDark;
  transition: $themeTransition;
}
