@media only screen and (max-width: 1264px) {
  .header-links {
    position: static;
    width: 100%;
    justify-content: center;
    padding: 10px;
  }
  .month-header {
    flex-direction: column;
  }
  .month__content--month-view .month-header__content {
    width: 70%;
    margin: 0 auto 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .month__content--month-view .month-header__month-name,
  .month__content--month-view .month-header__year-name {
    font-size: 1.5rem;
    padding: 8px 10px 0 10px;
    margin: 0;
  }
  .month-header__date-info {
    align-items: center;
  }

  .modal__content {
    width: 80%;
  }

  .time-list {
    width: 22vw;
  }
  .my-account {
    width: 90%;
    left: 5%;
    right: 5%;
    height: 60vh;
  }

  .my-account__profile-pic {
    width: 120px;
    height: 120px;
    font-size: 3rem;
  }

  .my-account h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .my-account p {
    font-size: 1.5rem;
  }

  .settings {
    padding: 0;
  }
  .home__content {
    width: 100%;
  }
  .home__buttons {
    width: 80%;
  }
  .loginRegister__content {
    width: 90%;
  }
  .loginRegister form {
    width: 80%;
  }
  .event-form input {
    width: 50%;
    margin: 10px auto 0 auto;
  }
  .event-form__preview {
    width: 65%;
    font-size: 1rem;
    padding: 0;
    align-items: center;
  }
  .event-form__preview span {
    margin: 0;
    flex-grow: 1;
  }
  .modal-header__content {
    width: 100%;
  }
  .event-info__buttons {
    width: 70%;
  }
  .my-events__nav-content {
    width: 70%;
  }
  .settings {
    overflow: auto;
  }
  .settings__radio-groups {
    flex-direction: column;
    width: 60%;
    margin: 20px auto 0 auto;
  }
  .radio-group {
    margin: 20px 0;
  }
  .alert {
    width: 70%;
  }
  .icons {
    width: 70vw;
  }
  .day-events__close-button,
  .event-form__close-button,
  .my-events__close-button {
    font-size: 3rem;
  }
  .my-events__events-container {
    width: 80%;
  }
}
